aiogram
pandas
python-dotenv
psycopg2
sklearn

speech_recognition
pytesseract
pdfplumber
tabulate

langchain-openai
langchain
langchain-core 
langchain-community
langchain-huggingface
sentence-transformers
chromadb