aiogram
pandas
tabulate
python-dotenv
scikit-learn

speech_recognition
pytesseract
pdfplumber

psycopg2
chromadb
neo4j>=5.0

langchain-openai
langchain
langchain-core 
langchain-community
langchain-huggingface
sentence-transformers
torch
pydantic
pydantic-settings

